<!DOCTYPE html>
<html ng-app="bodyMetric">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Body Metric</title>
    <link href="/js/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/lib/angular/angular.js"></script>
    <script src="/js/app.config.js"></script>
</head>
<body ng-controller="SigninController">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Body Metric</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="login">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="email">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Body Metric</h1>
            <p>{{message}}</p>
        </div>
    </div>
</section>

 <script src="/js/lib/jquery/dist/jquery.min.js"></script>
 <script src="/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>